dist/
!www/favicon.ico
www/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env

### yarn ###
# https://yarnpkg.com/advanced/qa#which-files-should-be-gitignored

.yarn/*
#!yarn.lock
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# if you are using Zero-installs, then:
# un-comment the following lines
# !.yarn/cache

# and comment the following lines
.pnp.*

# End of https://www.toptal.com/developers/gitignore/api/yarn
