:host {
  display: block;
}

.title {
  text-align: center;
  font-size: 3rem;
}

.start {
  text-align: start;
}

.content {
  font-size: 1.5rem;
}

.hp {
  margin-top: 20px;
  margin-left: 50px;
}

.verse {
  margin: 20px;
}

.heading {
  text-indent: 0;
  font-size: 110%;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 0.2em;
}

.microheading {
  display: block;
  text-indent: 0;
  font-size: 76%;
  font-style: italic;
  color: #999;
  margin-top: 1em;
  margin-bottom: 0.2em;
}

.questionable {
  font-style: italic;
  font-weight: lighter;
}

.prose {
  text-indent: 0;
  text-align: start;
}

.poetry {
  padding-left: 20px;
  text-align: start;
}
