:host {
  display: block;
}

.flexbase {
  display: flex;
  justify-content: space-around;
}

.flexstack {
  display: flex;
  flex-direction: column;
}

.modeswitch {
  display: flex;
  align-items: center;
}

.title {
  text-align: center;
  /*font-size: 3rem;*/
}

.start {
  text-align: start;
}

.content {
  /*font-size: 1.5rem;*/
}

.versebreak {
  display: block;
  margin: 20px 0;
}

.heading {
  text-indent: 0;
  font-size: 110%;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 0.2em;
}

.microheading {
  display: block;
  text-indent: 0;
  font-size: 76%;
  font-style: italic;
  color: #999;
  margin-top: 1em;
  margin-bottom: 0.2em;
}

.questionable {
  font-style: italic;
  font-weight: lighter;
}

.prose {
  display: block;
  text-indent: 0;
  margin-top: 1em;
  text-align: start;
}

.poetry {
  display: block;
  margin: 1em 0 1em 1em;
  text-align: start;
}
